*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgba(22,22,22);
  color: #F1F3F4;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a{
  text-decoration: none;
}




